.center-container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  max-width: 400px;
  width: 100%;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup  {
    text-emphasis: bold;
    color: green;
  }
