<form >
<div>

  <h4>Generate A Unicorn Race</h4>
  <input type="number" placeholder="Race ID" name="raceId" [(ngModel)]="raceNum">

<input [(ngModel)]="raceDate" name = "raceDate" type="date">
<input [(ngModel)]="raceTime" name = "raceTime" type="time">

  <label for="numberOfInputs">Number of Unicorns</label>
  <select [(ngModel)]="selectedNumber" (ngModelChange)="updateInputs()" name="numberOfInputs" id="numberOfInputs">

      <option *ngFor="let num of numbers" [value]="num">{{ num }}</option>
  </select>

<div *ngIf="selectedNumber">
  <div *ngFor="let input of inputs; let i = index">
    <input type="text" [placeholder]="'Input ' + (i + 1)" [(ngModel)]="racers[i]" name="input">
  </div>


</div>
  <button (click)="submitForm()">Submit</button>
</div>
</form>


