<div class="center-container">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <mat-form-field>
      <input name="email" type="email" matInput placeholder="Email" [(ngModel)]="user.email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input name="password" type="password" matInput placeholder="Password" [(ngModel)]="user.password" required>
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" type="submit" >Submit</button>
  </form>
</div>
